<header>
    {% if user.is_staff %}
    <div class="p-2 bg-primary text-white">
        <p><a class="hover:underline" href="{% url 'admin:index' %}">View Admin Dashboard</a></p>
    </div>
    {% endif %}
    <nav class="navbar bg-base-100 shadow-sm">
        <div class="flex-1">
            <a href="{% url 'home' %}" class="btn btn-ghost text-xl">
                {% if app_config.app_name %}
                    {{ app_config.app_name }}
                {% else %}
                    Logo
                {% endif %}
            </a>
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
              <li><a>Link</a></li>
              <li>
                <details>
                  <summary>Parent</summary>
                  <ul class="bg-base-100 rounded-t-none p-2">
                    <li><a>Link 1</a></li>
                    <li><a>Link 2</a></li>
                  </ul>
                </details>
              </li>
                {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'account_logout' %}" class="px-2 py-1 rounded-lg bg-error">Logout</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{% url 'account_login' %}" class="px-2 py-1 rounded-lg bg-base-100">Login</a>
                  </li>
                {% endif %}
            </ul>
          </div>
    </nav>
</header>