<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dist/output.css' %}">
    <title>{{ app_config.app_name }} - {% block title %}{{ app_config.app_tagline }}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
</head>
<body class="min-h-screen flex flex-col">
    {% include 'partials/header.html' %}

    <main class="flex-grow flex flex-col">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="{% static 'js/app.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>